# general azure details
subscription_id     = "<obtained from 'az account list'>"
tenant_id           = "<obtained from 'az account list'>"
creator             = "<your-userid-or-name>"
resource_group_name = "<pre-existing-resource-group-in-subscription-or-tenancy-to-use>"

# web app details
web_app_name         = "<name of app. small letters and numbers only>"
web_app_cidrs_allow  = ["<list of allow CIDRs allowed to access app. Empty list will allow access to all IPs>"]
docker_image         = "<docker image name to pull from image registry>"
docker_reg_url       = "<url to docker image registry, e.g. ACR>"
docker_reg_username  = "<username for docker login>"
docker_reg_password  = "<password for docker login>"
healthcheck_endpoint = "<endpoint on web app to use for periodic healthcheck polling>"
key_vault_ips_allow  = ["<list of allow ips for read-write to key vault>"]
key_vault_secrets    = {
  secret_name: "secret_value <map of secrets to load into key vault, key=secret_name, value=secret_value>"
}
app_env_var_secrets_mount = {
  ENV_VAR : "secret_name <map of the environment variable withing the web app container to the secret, key=env_var, value=secret_name>"
}